@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'common';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
/*font */
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Long+Cang&family=Montserrat:wght@200&display=swap');

body { 
    background-color: $bg-two;
    position: relative;
    background-image: linear-gradient(to bottom, $bg-one 0%, $bg-two 100%);
    background-repeat: no-repeat;
}

* {
    color: $font-color;
    font-family: montserrat;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: agbalumo;

}

/* Header */
.header {
    background-color: $accent-color;
}

.title p {
    font-family: long cang;
}

/* Navfield */

.nav a, .nav-toggle {
    color: $font-color;
}

/* main */

.main {
    background-color: $main-background;
    color: $font-color;
}

.about {
    background-color: $main-background;
    color: $font-color;
}

/* Footer */

.footer {
    background-color: $bg-two;
}

/* Fontchanges */

.top-left h1 {
    color: $white;
    text-shadow: 1px 1px 2px $font-color;
}
  
.centered p {
    color: $white;
    text-shadow: 1px 1px 2px $font-color;
}
