@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'common';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Long+Cang&family=Lora:wght@600&display=swap');

body {  
    background-color: $background-dark;
    position: relative;
    background-repeat: no-repeat;
}

* {
    font-family: lora;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: bebas neue;
}

/* Header */

.header {
    background-color: $accent-dark;
}

.header a {
    color: $font-white;
}

.title p {
    font-family: long cang;
}

/* Navfield */

.nav a, .nav-toggle {
    color: $font-white;
}

/* main */

.main {
    background-color: $main-bg-dark;
    color: $font-white;
}

.about {
    background-color: $main-bg-dark;
    color: $font-white;
}

/* Footer */

.footer {
    background-color: $background-dark;
    color: $font-dark;
}

.footer a {
    color: $font-dark;
}

/* images */

img, embed, object, video {
filter: brightness(50%); 
}

.images {
    border: 1px solid $font-color;
    background-color: $background-alternative-dark;
    color: $font-white;
}

figcaption {
    background-color: $background-alternative-dark;
}

/* Fontchanges */

.highpage h1 {
    color: $white;
}

    
.top-left h1 {
    color: $white;
    text-shadow: 1px 1px 2px $font-color;
}
  
.centered p {
    color: $white;
    text-shadow: 1px 1px 2px $font-color;
}
