@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'technology';
@import 'blockquotes';
@import 'code';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Montserrat:wght@200&display=swap');

body {
    background-color: $background-color;
}

* {
    color: $font-color;
    font-family: montserrat;
}

h1, h2, h3, h4, h5, h6 {
    font-family: agbalumo;
}

.main {
    background-color: yellow;
}