/* technology.scss */

.highlights {
    display: grid;
    gap: 1em 1em;
    padding-left: 50px;
    justify-self: center;
}

.highlights h1 {
    grid-column: span 3;
    justify-self: center;
}

.aboutpage {
    display: grid;
    gap: 1em 1em;
    padding-left: 5px;
}

.aboutpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.about {
    margin:auto;
    padding: 2em;
    max-width: 900px;
    justify-self: center;
}

.highlights1 {
    display: grid;
    max-width: auto;
    grid-template-columns: 500px 400px 500px;
    gap: 2px;
    align-content:inherit;

}

.highlights2 {
    display: grid;
    max-width: auto;
    grid-template-columns: 400px 600px 400px;
    gap: 2px;
}

.images {
    padding:5px 5px 5px;
    border: solid $font-color;
    text-align: center;
    background-color: $background-alternative-color;
    text-decoration: none;
}

.images a{
    text-decoration: none;
}

figcaption {
    
    justify-content: center;
    background-color: $background-alternative-color;
}
/*
.header a {
    text-decoration: none;
}
*/

img, embed, object, video {
    max-width: 100%;
}


@media screen and (max-width: 960px) {
    body {
        max-width: fit-content;
        padding-left: 0%;
    }   
    
    .highlights {
        max-width: fit-content; 
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        padding-left: 15px;
    }

    .highlights h1 {
        margin: 0;
    }

    .highlights1{
        grid-template-columns: 200px;
    }

    .highlights2{
        grid-template-columns: 200px;
    }

    .imagetext {
        max-width: fit-content;
    }
    
    .main {
        max-width: fit-content;
    }

    .sidebar {
        display: none;
    }

    .header {
        max-width: fit-content;
        grid-template-columns: repeat(1, 1fr);
    }

    .nav {
        max-width: 50%;
    }

    .top-left {
        top: 0px;
        left: 0px;
    }

    .top-left h1 {
        font-size: medium;
    }
      
    .centered p {
        font-size: small;
    }
    
    .images {
        column-width: 30%;
        grid-column: 1;
    }
    
}
