/* Variables.scss */
/* ljus */

$font-color: #000000;
$font-alternative-color: #B0CC00;
$accent-color: #64D785;
$background-color: #828282;
$background-alternative-color: #e0fbfc;
$main-background: #D9D9D9;
$bg-one: #65D6D2;
$bg-two: #6DD665;

/* mörk */

$font-dark: #DE0000;
$font-alternative-dark: #121212;
$font-white: #ffffff;
$accent-dark: #AB2222;
$background-dark: #121212;
$background-alternative-dark: #919191;
$main-bg-dark: #696969;

/* Gemensamma */
$white: #ffffff;


