{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="highpage" role="main">
        <div class="highlights">
        {{ content }}
        </div>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
